body {
  background-image: url("image/bg-2.jpg");
  background-size: auto 100%;
  background-repeat: none;
}
.map {
  position: fixed;
  display: flex;
  width: 80%;
  height: 80%;
  flex-wrap: wrap;
  top: 10%;
  left: 10%
}
.map>div {
  border: solid black 1px;
  width: 24%;
  height: 24%;
}
